<div class="card">
    <div class="card-body">
        <h5 class="card-title">Задание: краткий ответ</h5>
        <div class="card-text">
            <p><strong>{{ fragment.data.question }}</strong></p>
        </div>

        {% if success_message %}
            <div class="alert alert-success">{{ success_message }}</div>
        {% elif error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <form hx-post="{% url 'submit_task' fragment.id %}" hx-target="#fragment-container" hx-swap="innerHTML">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="answer" class="form-label">Ваш ответ:</label>
                    <input type="text" name="answer" id="answer" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Ответить</button>
            </form>
        {% if completed %}
            <div class="alert alert-success">
                Задание выполнено! Вы можете перейти к следующему фрагменту, нажав на кружок.
            </div>
        {% endif %}
    </div>
</div>