DJANGO_DEBUG=True                                   # Заполнить 'True', чтобы запустить проект в режиме отладки
DJANGO_SECRET_KEY=fake                              # Переменная для вашего секретного ключа
CELERY_REDIS_HOST=127.0.0.1                         # Хост вашего redis
CELERY_REDIS_PORT=6379                              # Порт вашего redis

# Просто пропишите в терминал 'cp -r template.env .env'